.primery {
    padding: 0.5em;
    background: rgb(45, 4, 4);
    color: white;
    border-radius: 0.5em;
    margin: 0.2em;
    text-align: center;

}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0.5em;

    th,
    td {
        padding: 0.5em;
    }

    th {
        text-align: right;
        border-top: solid 0.1em rgb(245, 160, 160);
        background-color: rgb(98, 25, 25);
        color: white;
    }

    tr {
        border-bottom: solid 0.1em rgb(245, 160, 160);
    }

    tr:nth-of-type(2n) {
        background-color: rgb(208, 208, 252);
    }
}



div {
    align-items: center;
    margin: 0.7em 0;
    width: 30em;

    label {
        display: block;
        color: aliceblue;
    }

    input {
        width: 100%;
        border-radius: 0.5em;
        padding: 0.5em;
        box-sizing: border-box;
    }

    button {
        box-sizing: border-box;
        width: 100%;
        padding: 0.5em;
        border-radius: 0.5em;
        background-color: rgb(157, 157, 252);
        font-size: 1em;
    }

    button[disabled] {
        background-color: rgb(95, 95, 133);
        color: aliceblue;
    }
}