@if (state=='list') {
<button (click)="add()" class="primery">افزودن</button>
<table>
    <thead>
        <tr>
            <th>شناسه</th>
            <th>عنوان</th>
            <th>نویسنده </th>
            <th>ناشر</th>
            <th>قیمت</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.titel}}</td>
            <td>{{item.auther}}</td>
            <td>{{item.publisher}}</td>
            <td>{{item.price}}</td>
            <td class="primery">ویرایش</td>
            <td class="primery">حذف</td>
        </tr>
        }
    </tbody>
</table>
}

@else {

    <form (ngSubmit)="Save()">
        <div>
            <label for="id">شناسه</label>
            <input [(ngModel)]="ItemB.id" type="number" name="id" id="id" placeholder="شناسه">
        </div>
        <div>
            <label for="titel">عنوان</label>
            <input [(ngModel)]="ItemB.titel" type="text" name="titel" id="titel" placeholder="عنوان">
        </div>
        <div>
            <label for="auther">نویسنده</label>
            <input [(ngModel)]="ItemB.auther" type="text" name="auther" id="auther" placeholder="نویسنده">
        </div>
        <div>
            <label for="publisher">ناشر</label>
            <input [(ngModel)]="ItemB.publisher" type="text" name="publisher" id="publisher" placeholder="ناشر">
        </div>
        <div>
            <label for="price">قیمت</label>
            <input [(ngModel)]="ItemB.price" type="number" name="price" id="price" placeholder="قیمت">
        </div>
        <div>
            <button class="primery" type="submit">تایید</button>
            <button class="primery" type="button" (click)="cancel()">انصراف</button>
        </div>
        <div></div>

    </form>

}