.banner{
    
    background-color:rgb(68, 2, 2);
    text-shadow: 0.1em 0.2em 0.1em rgb(11, 15, 16) ;
    padding: 3em;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

