/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: persion;
    src: url('/font/per1.woff2');
}

*{
    margin: 0;
    padding: 0;
    font-family: persion;
}
.alert{
    margin:0.5em;
    padding: 0.9em;
    border-radius: 0.5em;
    background-color: rgb(255, 91, 91);
    text-align: center;
    font-size: large;
}